{% extends "/templates/page.html" %}
{% block content %}
<link href="/static/css/register.css" rel="stylesheet">
<!-- Main Section
================================================== -->
<section id="main" class='container-narrow'>
<div class="tab-pane fade active in">
  <form class="form-horizontal well" id="register-form">
    <fieldset>
      <legend>
        <h2>Sign Up</h2>
        <p>It's quick and easy!</p>
      </legend>
      <!-- User Name -->
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" class="input-medium" id="first-name" name="first-name" placeholder="First Name">
          <input type="text" class="input-medium" id="last-name" name="last-name" placeholder="Last Name">
        </div>
      </div>
      <!-- Email Address -->
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          {{ email }}
        </div>
      </div>
      <!-- Form Actions -->
      <div class="form-actions">
        <button type="submit" class="btn-large btn-primary span4">Sign Up</button>
      </div>
    </fieldset>
  </form>
</div>
</section>
{% endblock %}
