{% extends "/templates/page.html" %}
{% block content %}
<!-- Main Section
================================================== -->
<section id="main" class='container-narrow'>
<div class="row">
  <div>
    <h2>Sign Up</h2>
    <p>It's quick and easy!</p>
    <!-- User Name -->
    <div class="control-group">
      <label class="control-label" for="name">User Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge span3" id="name" name="election-name">
      </div>
    </div>
    <div>
      <strong>Email: </strong>{{ email }}
    </div>
    <div>
      <strong>Nickname: </strong>{{ nickname }}
    </div>
    {% for university in universities %}
    <div><strong>ID: </strong>{{ university.id }} <strong>University: </strong>{{ university.name }}</div>
    {% endfor %}

    <p>In the past, student organizations have found inconsistencies in the number of voters and the number of votes cast. This leads to the ballot being spoilt and another round of voting has to held. Furthermore, manually counting votes and following intricate rules can be tedious and lead to mistakes by election committees.</p>
    <p>This website aims to solve such inconsistencies by automatically counting votes and enforcing strict voting rules while maintaining voter privacy and anonymity. We strive to make this website very straight forward and user friendly towards both the voters and the election administrators.</p>
    <p>The website is open source and created for free by <a href="http://www.waseemahmad.com">Waseem Ahmad</a> and <a href="http://capshaw.me">Andrew Capshaw</a>. The source code can be viewed <a href="https://github.com/waseemAtRice/rice-elections">here</a>.</p>
  </div>
</div>
</section>
{% endblock %}
